# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# HA dev
.storage/
config/
